* {
  background-color: #ffcb05;
  color: black;

  font-family: "Karla", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Press Start 2P", cursive;
}
body {
  display: flex;
  justify-content: center;
  width: 100vw;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.nav-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.poke-card {
  width: 33%;
}
.poke-cards-container {
  width: 90%;
}
